@import "tailwindcss";

@theme {
  --color-primary: #011457;
  --color-primary-light: #eaefff; 
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
}
